:root.dark {
  $color-primary: #6750a4;
  $color-on-primary: #ffffff;
  $color-primary-container: #eaddff;
  $color-on-primary-container: #21005d;

  $color-surface: #49454f;
  $color-on-surface: #1c1b1f;
  $color-surface-variant: #e7e0ec;
  $color-on-surface-variant: #f5f5f5;
}
