$primary-color: #ff5a5f;
$secondary-color: #007bff;
$tertiary-color: #50e3c2;
$text-color: #222;
$text-light: #666;
$border-color: #e0e0e0;
$background-color: #f7f7f7;
$button-bg-color: #fff;
$hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
$disabled-color: #ccc;
$disabled-bg: #fafafa;
$card-background: #ffffff;
$secondary-text-color: #777777;
$shadow-light: rgba(0, 0, 0, 0.05);
$shadow-medium: rgba(0, 0, 0, 0.1);
$border-radius: 24px;
$font-weight: 600;


/* Old colors, need to be removed */

$color-primary: #6750a4;
$color-on-primary: #ffffff;
$color-primary-container: #eaddff;
$color-on-primary-container: #21005d;

$color-surface: #f5f5f5;
$color-on-surface: #1c1b1f;
$color-surface-variant: #e7e0ec;
$color-on-surface-variant: #49454f;